{
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 1000,
    "overrides": [
        {
            "files": "*.handlebars",
            "options": { "parser": "html" }
        }
    ]
}
