<main>
    <h1>{{title}}</h1>
    <form method="POST" name="createMeeting" id="createMeeting">
        <label for="titleInput">Title:</label>
        <input name="titleInput" id="titleInput" type="text" />
        <br />
        <label for="descriptionInput">Description:</label>
        <input name="descriptionInput" id="descriptionInput" type="text" />
        <br />
        <p>TODO: other fields</p>
        <input type="submit" value="Create" />
    </form>
    <button onclick="alert('TODO')">Cancel</button>
</main>
