<main>
    <h1>{{title}}</h1>
    <p>{{meetingDescription}}</p>
    <p>TODO: other meeting info + availability display</p>
    <button onclick="alert('TODO: Return data to server')">Save</button>
    <a href="/meetings">My Meetings</a>
    <a href="/create">Create Meeting</a>
</main>
