<p style="margin-left: 20px" class="errorInfo" id="error">{{error}}</p>
<button id="genBackButton" style="margin-left: 20px" class="back-button"><img src="/public/icons/left-arrow-alt-svgrepo-com.svg" alt="Back Button" class="button-image" /> Go Back</button>
<script type="module" src="/public/js/pages/miscBinds.js"></script>
