<main>
    <h1>{{title}}</h1>
    <form method="POST" name="login" id="login" enctype="multipart/form-data">
        <label for="usernameInput">Username:</label>
        <input name="usernameInput" id="usernameInput" type="text" />
        <br />
        <label for="passwordInput">Password:</label>
        <input name="passwordInput" id="passwordInput" type="password" />
        <br />
        <input type="submit" value="Login" />
    </form>
    <a href="/login/signup">Sign up</a>
</main>
