<main>
    <h1>{{title}}</h1>
    <form method="POST" name="signup" id="signup">
        <label for="fullNameInput">Full Name:</label>
        <input name="fullNameInput" id="fullNameInput" type="text" />
        <br />
        <label for="usernameInput">Username:</label>
        <input name="usernameInput" id="usernameInput" type="text" />
        <br />
        <label for="passwordInput">Password:</label>
        <input name="passwordInput" id="passwordInput" type="password" />
        <br />
        <p>TODO: pfp upload</p>
        <input type="submit" value="Sign up" />
    </form>
</main>
