<p style="margin-left: 15px">You are now signed out</p>

<a style="margin-left: 15px" class="signUpLink" href="/login"> <img src="/public/icons/login-2-svgrepo-com.svg" alt="User Login" class="button-image" />Sign Back In</a>
