<main>
    <h1>{{title}}</h1>
    <p>{{meetingDescription}}</p>
    <p>TODO: other meeting info + availability display</p>
    {{#if canEdit}}
    <a href="/{{meetingId}}/edit"><button>Edit Meeting</button></a>
    {{/if}}
    <a href="/meetings">My Meetings</a>
    <a href="/create">Create Meeting</a>
</main>
