<main>
    <div class="grid-container">
        <div class="calendar">
            <h2>Calendar Here</h2>
        </div>
        <div class="notes">
            <h2>Notes</h2>
        </div>
        <div class="comments">
            <h2>Comments</h2>
        </div>
    </div>
</main>
