/* Stylesheet used by the main.handlebars default view */
/* By default is applied to all HTML pages on the site */

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    background-color: #f8f8f8;
    color: #333;
}

/* Nav bar rules */
header {
    background: #6a5acd;
    color: white;
    width: 100%;
}

/* Placeholder: Can replace with a logo png or anything else */
.title-text {
    font-size: 24px;
    margin: 0;
}

/* flexible div containing header elements */
.bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

/* nav bar elements */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 35px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline;
    color: #ff7f50;
}

/* reformat navbar on squished screen */
@media (max-width: 700px) {
    .bar {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: 10px 0;
    }
}

/* View meeting page */
.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1.5fr; /* Two rows */
    height: 100vh; /* Full height */
    gap: 10px;
    padding: 10px 20px;
}
.calendar {
    grid-row: 1 / 3; /* Span both rows */
    background: #ffffff;
    border: 1px solid #d1d8e0;
    border-radius: 8px;
    padding: 15px;
}
.comments {
    background: #ffffff;
    border: 1px solid #d1d8e0;
    border-radius: 8px;
    padding: 15px;
}
.notes {
    background: #ffffff;
    border: 1px solid #d1d8e0;
    border-radius: 8px;
    padding: 15px;
}

/* this can get reused for if we want a mouse-over effect on elements */
/* might be nice for clickables like buttons and cells on the calendar */
/* left out for now */

/* .comments:hover, .notes:hover {
    background-color: #f7fafc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
